@model IEnumerable<UserViewModel>

<link rel="stylesheet" href="~/theme/plugins/datatables-bs4/css/dataTables.bootstrap4.css" />

<div class="content-wrapper" style="min-height: 976.4px;">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>User</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Users</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>@Model.Count()</h3>

                            <p>Total de Usuários</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-6">
                    <!-- small box -->
                    <div class="small-box bg-warning">
                        <div class="inner">
                            <h3>@Model.Where(x => !x.Enable).Count()</h3>
                            <p>Pendentes</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-person-add"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>


    <section class="content">
        <div class="row">
            <div class="col-12">

                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">Users</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="dataTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>FullName</th>
                                    <th>Email</th>
                                    <th>Insert</th>
                                    <th>Enable</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>

                                @foreach (var user in Model)
                                {
                                    <tr>
                                        <td>@user.FullName</td>
                                        <td>@user.Email</td>
                                        <td>@user.Insert</td>

                                        <td>
                                            @if (user.Enable)
                                            {
                                                @:Bloqueado
                                            }
                                            else
                                            {
                                                @:Disponível
                                            }
                                        </td>

                                        <td>
                                            <a asp-action="Edit" asp-route-id="@user.Id" class="btn btn-info btn-circle btn-sm"><i class="fas fa-edit"></i></a>

                                            <a href="javascript:userJs.openPopUpDeleteUser('@user.Id') " class="btn btn-light btn-circle btn-sm"><i class="fas fa-trash"></i></a>

                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div>
    </section>
</div>


@await Html.PartialAsync("~/Views/Shared/_partial/_modalDelete.cshtml")

<script src="~/theme/plugins/jquery/jquery.js"></script>
<script src="~/js/Ultil/Util.js"></script>
<script src="~/js/User/user.js"></script>

<script>
    $(document).ready(function () {
        $('#dtMaterialDesignExample').DataTable();
        $('#dtMaterialDesignExample_wrapper').find('label').each(function () {
            $(this).parent().append($(this).children());
        });
        $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('input').each(function () {
            const $this = $(this);
            $this.attr("placeholder", "Search");
            $this.removeClass('form-control-sm');
        });
        $('#dtMaterialDesignExample_wrapper .dataTables_length').addClass('d-flex flex-row');
        $('#dtMaterialDesignExample_wrapper .dataTables_filter').addClass('md-form');
        $('#dtMaterialDesignExample_wrapper select').removeClass('custom-select custom-select-sm form-control form-control-sm');
        $('#dtMaterialDesignExample_wrapper select').addClass('mdb-select');
        $('#dtMaterialDesignExample_wrapper .mdb-select').materialSelect();
        $('#dtMaterialDesignExample_wrapper .dataTables_filter').find('label').remove();
    });
</script>

@await Html.PartialAsync("~/Views/Shared/_partial/_scriptDataTables.cshtml")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
