@model UserLoginViewModel

@{
    Layout = string.Empty;
}

@await Html.PartialAsync("~/Views/Shared/_partial/_cssImportBootstrap.cshtml")

<body class="hold-transition login-page">

    <div class="login-box">

        <div class="login-logo">
            <a style="color: white" href="#"><b style="color: white">Admin</b> VCenter</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Insira suas informações para acessar</p>

                @Html.ValidationMessage("UserBlocked", new { @class = "text-warning" })

                <form asp-action="MainLogin" method="post">

                    @Html.ValidationMessage("UserNotFound", new { @class = "text-danger" })

                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "email@provedor.com", @class = "form-control", @type = "email" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })

                    <div class="input-group mb-3">
                        @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Senha", @type = "password" } })
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                        </div>
                    </div>
                </form>

                @*<p class="mb-0" >
                    <a href="/User/Create" class="text-center">Registrar Usuário</a>
                </p>*@


                <p class="mb-0">
                    <a href="/User/ForgotPassword" class="text-center">Recuperação de senha</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</body>

@await Html.PartialAsync("~/Views/Shared/_partial/_scriptBootstrap.cshtml")
