@using VSphere.Models.ViewModels.User;

@model UserResetPasswordViewModel

@{
    Layout = string.Empty;
}

@await Html.PartialAsync("~/Views/Shared/_partial/_cssImportBootstrap.cshtml")

<!--Section: Block Content-->
<body class="hold-transition login-page">

    @using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
    {
        @Html.AntiForgeryToken();

        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <input type="hidden" asp-for="Token" value="@Model.Token" />

        <div class="login-box">

            <div class="login-logo">
                <a style="color: white" href="#"><b style="color: white">Admin</b> VCenter</a>
            </div>
            <!-- /.login-logo -->
            <div class="card">
                <div class="card-body login-card-body">
                    <p class="login-box-msg">Recuperação de Senha</p>

                    @Html.ValidationSummary()

                    <div class="input-group mb-3">

                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "exaple@provider.com", @class = "form-control", @type = "email" } })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Nova Senha", @type = "password" } })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @placeholder = "Confirmação de Nova Senha", @type = "password" } })
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Recuperar</button>
                        </div>
                    </div>
                </div>
                <!-- /.login-card-body -->
            </div>
        </div>
    }

</body>


@await Html.PartialAsync("~/Views/Shared/_partial/_modalAlert.cshtml")
@await Html.PartialAsync("~/Views/Shared/_partial/_modalSuccess.cshtml")