@using VSphere.Models.ViewModels.VM

@model CreateVMViewModel

@using (Html.BeginForm("CreateSave", "VM", FormMethod.Post))
{

    <div class="container-fluid" id="create_partial_view">

        <input type="hidden" asp-for="ApiId" />

        <div class="row form-group pad-top">
            <div class="col-sm-3">
                <label class="col-form-label label-bold-style" asp-for="DataStore"></label>
            </div>
            <div class="col-sm-9">
                <div class="input-group inner-addon right-addon">
                    <select asp-for="DataStore" class="form-control" data-style="form-control" title="Nenhum Selecionado"
                            asp-items="@(new SelectList(ViewBag.Datastores, "Datastore", "Datastore"))">
                    </select>
                    <span class="input-group-append fa fa-pencil"></span>
                </div>
                <span asp-validation-for="DataStore" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group pad-top">
            <div class="col-sm-3">
                <label class="col-form-label label-bold-style" asp-for="Folder"></label>
            </div>
            <div class="col-sm-9">
                <div class="input-group inner-addon right-addon">
                    <select asp-for="Folder" class="form-control" data-style="form-control" title="Nenhum Selecionado"
                            asp-items="@(new SelectList(ViewBag.Folder, "Folder", "Folder"))">
                    </select>
                    <span class="input-group-append fa fa-pencil"></span>
                </div>
                <span asp-validation-for="Folder" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group pad-top">
            <div class="col-sm-3">
                <label class="col-form-label label-bold-style" asp-for="ResourcePool"></label>
            </div>
            <div class="col-sm-9">
                <div class="input-group inner-addon right-addon">
                    <select asp-for="ResourcePool" class="form-control" data-style="form-control" title="Nenhum Selecionado"
                            asp-items="@(new SelectList(ViewBag.ResoucerPool, "Resource_Pool", "Resource_Pool"))">
                    </select>
                    <span class="input-group-append fa fa-pencil"></span>
                </div>
                <span asp-validation-for="Folder" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group pad-top">
            <div class="col-sm-3">
                <label class="col-form-label label-bold-style" asp-for="Name"></label>
            </div>
            <div class="col-sm-9">
                <div class="input-group inner-addon right-addon">
                    <input asp-for="Name" class="form-control" placeholder="Nome" />
                    <span class="input-group-append fa fa-pencil"></span>
                </div>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-3">
                <label class="col-form-label label-bold-style" asp-for="Memory"></label>
            </div>
            <div class="col-sm-5">
                <div class="input-group inner-addon right-addon">
                    <select asp-for="Memory" class="form-control" asp-items="@ViewBag.Memory">
                        <option value="0">Nenhum Selecionado</option>
                    </select>
                    <span class="input-group-append fa fa-pencil"></span>
                </div>
                <span asp-validation-for="Memory" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-3">
                <label class="col-form-label label-bold-style" asp-for="OS"></label>
            </div>
            <div class="col-sm-5">
                <div class="input-group inner-addon right-addon">
                    <select asp-for="OS" class="form-control" asp-items="@ViewBag.OS">
                        <option value="0">Nenhum Selecionado</option>
                    </select>
                    <span class="input-group-append fa fa-pencil"></span>
                </div>
                <span asp-validation-for="OS" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group">
            <div class="col-sm-3">
                <label class="col-form-label label-bold-style" asp-for="Networking"></label>
            </div>
            <div class="col-sm-5">
                <div class="input-group inner-addon right-addon">
                    <select asp-for="Networking" class="form-control" asp-items="@ViewBag.Networking">
                        <option value="0">Nenhum Selecionado</option>
                    </select>
                    <span class="input-group-append fa fa-pencil"></span>
                </div>
                <span asp-validation-for="Networking" class="text-danger"></span>
            </div>
        </div>

        <div class="row form-group pad-top">
            <div class="offset-3 col-7">
                <div class="col-sm-2 btn-group pad-bottom">
                    <button type="button" class="btn btn-danger" onclick="VMjs.cancelCreate()" data-dismiss="modal" style="float:right"><i class="fa fa-times pr-2"></i>Cancelar</button>
                </div>
                <div class="col-sm-2 btn-group pull-right">
                    <button type="submit" class="btn btn-primary col-xs-12" id="addSubmitButton" style="float:right"><i class="fa fa-check pr-2"></i>Criar</button>
                </div>
            </div>
        </div>

    </div>
}

