@model List<VMViewModel>

<table id="dataTable" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Memória</th>
            <th>CPU</th>
            <th>Status</th>
            <th>Origem</th>
            <th>Inserido</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var vm in Model)
        {
            <tr>
                <td>@vm.Name</td>
                <td>@vm.Memory</td>
                <td>@vm.CPU</td>
                @if (vm.Power == "POWERED_ON")
                {
                    <td>ON</td>
                }
                else
                {
                    <td>OFF</td>
                }
                <td>@vm.Origem</td>
                <td>@vm.Insert</td>
            </tr>
        }

    </tbody>
</table>
